/*
Colors for wireframe:

#C0D966 -> For components
#C0D966 -> GREEN 01
#F2F2F2 -> Light Grey
#22252E -> Blue Black
*/

/*################# MAIN #################*/

@font-face {
    font-family: 'ROBOTO-SERIF';
    src: url('../Fonts/RobotoSerif/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
    src: url('../Fonts/RobotoSerif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    color: #000;
    /* for browsers that don't support 'inherit' as a color value */
    color: inherit;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

* {
    margin: 0;
    font-family: "ROBOTO-SERIF";
}


h1 {
    font-weight: 600;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-body {
    background-color: #F2F2F2;
    width: 85vw;
    height: 100vh;
    transition: width 0.3s ease;
}

.main-body-auth {
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    transition: width 0.3s ease;
}

.coming-soon {
    height: 95%;
    width: 95%;
    background-color: #C0D966;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coming-soon-header {
    margin-bottom: 50px;
}

/*################# SIDEBAR #################*/
.side-nav {
    background-color: #22252E;
    height: 100vh;
    width: 15vw;
    transition: width 0.3s ease;
}

.logo-nav {
    display: flex;
    width: 15vw;
    height: 12.85vh;
    border-bottom: 1px #ffffff solid;
    justify-content: center;
}

.logo-nav-logo {
    width: 70%;
    background-image: url("../Images/safe-forest.png");
    background-repeat: no-repeat;
    background-position: center;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.logo-nav-hamburguer {
    width: 30%;
}

.logo-nav-hamburguer:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
}

.logo-nav-hamburguer button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    background-image: url("../Images/hamburger-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.logo-nav-hamburguer button:hover {
    background-image: url("../Images/hamburger-logo-hover.png");
}

.menu-options-home-dashboard-icon-img {
    display: flex;
    flex-shrink: 0;
    align-self: center;
    cursor: pointer;
    width: 50%;
    background-color: white;
}

.menu-options {
    width: 15vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-options button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.menu-options img {
    width: 50%;
}

.menu-options-home {
    width: 100%;
    height: 30%;
    margin-top: 5vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
}

.menu-options-home-label {
    display: flex;
    align-items: center;
    margin-left: 10%;
    border-bottom: 2px #ffffff solid;
    font-size: 1rem;
}

.menu-options-home-dashboard {
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    font-size: 0.8rem;
    height: 7vh;
}

.menu-options-home-dashboard-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-home-dashboard-text {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F2F2F2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.menu-options-home-dashboard:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    animation: pulse 0.25s;
}

.menu-options-home-dashboard:hover .menu-options-home-dashboard-text {
    color: black;
}

.menu-options-home-camera {
    display: flex;
    cursor: pointer;
    font-size: 0.8rem;
    height: 7vh;
}

.menu-options-home-camera-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-home-camera-text {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F2F2F2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.menu-options-home-camera:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    color: white;
    animation: pulse 0.25s;
}

.menu-options-home-camera:hover .menu-options-home-camera-text {
    color: black;
}

/*   Upload   */

.menu-options-home-upload {
    display: flex;
    cursor: pointer;
    font-size: 0.8rem;
    height: 7vh;
    margin-top: 2%;
}

.menu-options-home-upload-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-home-upload-text {
    display: flex;
    justify-content: start;
    align-items: center;    
    color: #F2F2F2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.menu-options-home-upload:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    color: white;
    animation: pulse 0.25s;
}

.menu-options-settings {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

.menu-options-settings-label {
    display: flex;
    align-items: center;
    margin-left: 10%;
    border-bottom: 2px #ffffff solid;
    font-size: 1rem;
}

.menu-options-settings-general {
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    font-size: 0.8rem;
    height: 7vh;
}

.menu-options-settings-general-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-general-text {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F2F2F2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.menu-options-settings-general:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    color: white;
    animation: pulse 0.25s;
}

.menu-options-settings-general:hover .menu-options-settings-general-text {
    color: black;
}

.menu-options-settings-security {
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    height: 7vh;
}

.menu-options-settings-security-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-security-text {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F2F2F2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.menu-options-settings-security:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    color: white;
    animation: pulse 0.25s;
}

.menu-options-settings-security:hover .menu-options-settings-security-text {
    color: black;
}

.menu-options-settings-alert {
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    height: 7vh;
}

.menu-options-settings-alert-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-alert-text {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F2F2F2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}


.menu-options-settings-alert:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    color: white;
    animation: pulse 0.3s;
}

.menu-options-settings-alert:hover .menu-options-settings-alert-text {
    color: black;
}

/* Animation for the pulse */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

/*################# ADD CAMERA MENU #################*/

#add-camera-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: fit-content;
    width: 50vw;
    padding: 1%;
    background-color: #22252E;
    z-index: 1000;
    border: 1px black solid;
    border-radius: 5px;
    color: lightgray;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    animation-delay: 0.1s
}

.add-camera-menu-cancel {
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 90;
}

.add-camera-menu-cancel img {
    height: 100%;
    background: none;
    border: none;
}

.add-camera-menu-cancel img:hover {
    cursor: pointer;
    background-color: gray;
}

.add-camera-plans {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    padding-bottom: 2%;
    color:black
}

.add-camera-plans-free {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: fit-content;
    padding: 1%;
    border-radius: 5px;
}

.add-camera-plans-free:hover {
    background-color: gray;
    cursor: pointer;
}

.add-camera-plans-free-title {
    display: flex;
    justify-content: center;
}

.add-camera-plans-free-price {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
}

.add-camera-plans-free-description {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    height: 100%;
}

.add-camera-plans-free-checks {
    display: flex;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: end;
}

.add-camera-plans-standard {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: fit-content;
    padding: 1%;
    border-radius: 5px;
}

.add-camera-plans-standard:hover {
    background-color: gray;
    cursor: pointer;
}

.add-camera-plans-standard-title {
    display: flex;
    justify-content: center;
}

.add-camera-plans-standard-price {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
}

.add-camera-plans-standard-description {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    height: 100%;
}

.add-camera-plans-standard-checks {
    display: flex;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: end;
}


.add-camera-plans-premium {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: fit-content;
    padding: 1%;
    border-radius: 5px;
}

.add-camera-plans-premium:hover {
    background-color: gray;
    cursor: pointer;
}

.add-camera-plans-premium-title {
    display: flex;
    justify-content: center;
}

.add-camera-plans-premium-price {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
}

.add-camera-plans-premium-description {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    height: 100%;
}

.add-camera-plans-premium-checks {
    display: flex;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: end;
}

/**/
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: gray;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

.slider:after {
    content: 'No';
    color: black;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider:after {
    content: 'Yes';
}

/**/

.add-camera-menu-options {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 27vh;
    width: 100%;
    overflow-x: hidden;
}

.add-camera-menu-options div {
    margin-left: 2%;
}

.add-camera-menu-options h3 {
    margin-bottom: 1%;
    margin-top: 1%;
}


.add-camera-menu-title {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    z-index: 90;
    color: lightgray;
}

.add-camera-menu-title h1 {
    margin-left: 3%;
}

.add-camera-menu-options-settings {
    display: flex;
    width: 100%;
    z-index: 900;
    justify-content: space-between;
    /* margin-left: 5%; */
}

.add-camera-menu-options-settings-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 90;
}

.add-camera-menu-options-settings-left input {
    margin-bottom: 2%;
    width: 90%;
}

.add-camera-menu-options-settings-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 90;
}

.add-camera-menu-options-settings-right input {
    margin-bottom: 2%;
    width: 90%;
}

.add-camera-options-imageInput-options p {
    margin-left: 2%;
}

.add-camera-menu-inputs-right input {
    margin-left: 5%;
    margin-bottom: 2%;
}

.add-camera-options-imageInput-options p {
    margin-left: 2%;
}

.add-camera-options-detectionBoundary-values {
    display: flex;
    align-items: center;
}

.add-camera-options-detectionBoundary-values input {
    margin-left: 1%;
    margin-right: 1%;
    width: 1.5vw;
    text-align: center;
    border: none;
}

.add-camera-options-confirmations {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
}

.add-camera-options-confirmations input {
    margin-top: 2%;
}

.add-camera-menu-button {
    display: flex;
    z-index: 90;
    justify-content: end;
    width: 95%;
    padding: 2%;
    margin-right: 10%;
}

.add-camera-menu-button button {
    margin-left: 1%;
    cursor: pointer;
    padding: 10px 5%;
    border: none;
    border-radius: 5px;
}

.add-camera-menu-button button:hover {
    background-color: gray;
    color: white;
}

/*###################################################*/

/*################# SOCIAL NETWORK #################*/

.social-network {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
    height: 9.88vh;
    border-top: 1px #F2F2F2 solid;
    position: relative;
}

.social-network-made-by{
    color: #F2F2F2;
    font-size: 70%;
    position: absolute;
    bottom: 94%;
    background-color: #22252E;
}

.social-network img {
    width: 60%;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}

.social-network-image {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-network-image::after {
    content: attr(data-hover-text);
    color: black;
    background: #e6f0c0;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 110%;
    left: 0;
    width: fit-content;
    opacity: 0;
    white-space: normal;
    text-align: center;
    pointer-events: none;
    transition: opacity 0.3s;
    box-sizing: border-box;
    z-index: 1000;
}

.social-network-image:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 1000;
}

.social-network-image:hover {
    background: linear-gradient(to right, #b7d93d, #e6f0c0);
    cursor: pointer;
    z-index: 1000;
}

/*################# HEADER #################*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    width: 85vw;
    height: 12.85vh;
    border-bottom: 1px black solid;
}

.header img {
    width: 50%;
}

.header-greeting {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    margin-left: 5%;
}

.header-greeting h1,
h2 {
    font-weight: 600;
    /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}

.header-greeting-top {
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    /* background-color: #f2f2f2;*/
}

.header-greeting-bottom {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    /* background-color: #f2f2f2; */
}

.header-options {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 50%;
    margin-right: 3%;
}

.header-options-addcamera {
    margin-right: 5%;
}


.header-options-addcamera button {
    height: 80%;
    width: 8vw;
    border: none;
    background-color: #22252E;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.header-options-addcamera button:hover {
    background-color: #C0D966;
    cursor: pointer;
    color: black;
}

.header-options-notifications {
    display: flex;
    justify-content: center;
    user-select: none;
}

.header-options-notifications:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.header-options-leave {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.header-options-leave:hover {
    background-color: lightcoral;
    border-radius: 5px;
}

.header-options-leave img {
    width: 35%;
    margin-left: 3%;
}

.header-options div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#notification-panel {
    display: none;
    position: fixed;
    flex-direction: column;
    left: 75%;
    height: fit-content;
    background-color: white;
    width: 20%;
    min-width: 150px;
    padding: 1%;
    z-index: 1000;
    border: 1px black solid;
    border-radius: 5px;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

.notification-panel-header {
    border-bottom: 1px black solid;
    padding-bottom: 3%;
}

.notification-panel-body {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 8px;
}

.notification-panel-message {
    display: flex;
    flex-direction: column;
    border-bottom: lightgray 1px solid;
}

.notification-panel-message:hover {
    background-color: lightgray;
}

.notification-panel-message-top {
    display: flex;
}

.notification-panel-message-top-body {
    margin-left: 1%;
}


/*################# PANEL #################*/

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 77vh;
    background-color: #f2f2f2;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    animation-delay: 0.1s
}

.panel-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.panel-information-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.panel-information-statistics h1 {
    font-weight: 500;
    /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}

.panel-information-statistics-status {
    display: flex;
    height: 50%;
    width: 100%;
}

.panel-information-statistics-status-online {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.panel-information-statistics-status-online-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    background-color: #22252E;
    border-radius: 5px;
    color: #ffffff;
}

.panel-information-statistics-status-online-container-number {
    height: 30%;
    margin-left: 5%;
    font-size: 1rem;
}

.panel-information-statistics-status-online-container-label {
    margin-left: 5%;

}

.panel-information-statistics-status-online-container-cameras {
    display: flex;
    width: 80%;
    margin-left: 5%;

}

.panel-information-statistics-status-online-container-cameras button {
    border: 1px black solid;
    background-color: #C0D966;
    width: 100%;
}

.panel-information-statistics-status-online-container-cameras button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.panel-information-statistics-status-offline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

}

.panel-information-statistics-status-offline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    background-color: #22252E;
    border-radius: 5px;
    color: #ffffff;
}

.panel-information-statistics-status-offline-container-label {
    margin-left: 5%;

}

.panel-information-statistics-status-offline-container-number {
    height: 30%;
    margin-left: 5%;
    font-size: 1rem;
}

.panel-information-statistics-status-offline-container-cameras {
    display: flex;
    width: 80%;
    margin-left: 5%;
}

.panel-information-statistics-status-offline-container-cameras button {
    border: 1px black solid;
    background-color: #C0D966;
    width: 100%;
}

.panel-information-statistics-status-offline-container-cameras button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.panel-information-statistics-smoke {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
    border-radius: 5px;
    background-color: #22252E;
    color: #ffffff;
}

.panel-information-statistics-smoke-24-hours-number .fa-fire {
    color: rgb(255, 115, 0);
    font-size: 2em;
}

.panel-information-statistics-smoke-7-days-number .fa-fire {
    color: rgb(255, 72, 0);
    font-size: 2em;
}

.panel-information-statistics-smoke-30-days-number .fa-fire {
    color: rgb(255, 51, 0);
    font-size: 2em;
}

.panel-information-statistics-smoke-title {
    font-size: small;
    margin: 1%;
    color: gray;
}

.panel-information-statistics-smoke-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.panel-information-statistics-smoke-24-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.panel-information-statistics-smoke-24-hours-number {
    display: flex;
    justify-content: space-evenly;
    margin-left: 8%;
    width: 35%;
    height: 55%;
    font-size: 0.8rem;
}

.panel-information-statistics-smoke-24-hours-label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-left: 8%;

}

.panel-information-statistics-smoke-7-days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.panel-information-statistics-smoke-7-days-number {
    display: flex;
    justify-content: space-evenly;
    margin-left: 8%;
    width: 35%;
    height: 55%;
    font-size: 0.8rem;
}

.panel-information-statistics-smoke-7-days-label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-left: 8%;
}

.panel-information-statistics-smoke-30-days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.panel-information-statistics-smoke-30-days-number {
    display: flex;
    justify-content: space-evenly;
    margin-left: 8%;
    width: 35%;
    height: 55%;
    font-size: 0.8rem;
}

.panel-information-statistics-smoke-30-days-label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-left: 8%;
}

.panel-information-detections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    background-color: #22252E;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    color: #ffffff;
}

.panel-information-detections-title {
    color: gray;
    margin: 1%;
    width: 98%;
    font-size: small;
}

.panel-information-detections-table {
    height: 95%;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.panel-information-detections-table .tbl-header {
    color: #000000;
}

.panel-information-detections-table .tbl-content {
    border-color: #C0D966;
}

/*#################################### Table CSS ####################################*/
table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: #C5D97E;
}

.tbl-content {
    height: 25vh;
    overflow-x: auto;
    margin-top: 0px;
}

.tbl-content-large {
    height: 50vh;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid #C5D97E;
    color: #ffffff;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 0.6rem;
    text-transform: uppercase;
}

th:hover{
    cursor: pointer;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 0.85rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

td:hover{
    cursor: pointer;
}

#dynamicListCamera-dashboard-last-detection tr{
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    background-color: #22252E;
    color: white;
}

#dynamicListCamera-dashboard-last-detection tr:hover{
    background-color: gray;
}

#searchMyCameras tr{
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#searchMyCameras tr:hover {
    background-color: gray;
}

#searchMyCameras td {
    font-size: 1rem;
}

#searchMyCameras button {
    background: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
}

#searchMyCameras button:hover {
    cursor: pointer;
}


#dynamicListCamera-dashboard tr{
    color: black;
}

#dynamicListCamera-dashboard tr:hover{
    background-color: gray;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*########################################################################*/

.panel-camera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.panel-mycamera {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 50%;
}

.panel-upload {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.panel-upload-processed-frame {
    display: flex;
    justify-content: center;
}

.panel-upload-processed-frame img {
    max-width: 100%;
}

.panel-camera-container {
    width: 95%;
    height: 97%;
    min-width: 50%;
    background-color: #22252E;
    border-radius: 5px;
}

.panel-camera-search {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}


.panel-camera-container-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-camera-container-top-title {
    margin: 2%;
    color: #F2F2F2;
}

.panel-camera-container-top-title h1 {
    font-weight: 500;
    /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}

.panel-camera-container-top-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.panel-camera-container-top-search input {
    background-color: white;
    background-image: url('../Images/search-icon.png');
    height: 25px;
    background-position: 95%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 30px;
}

.panel-camera-container-table {
    margin: 2%;
}

.panel-mycamera-container-table {
    margin: 1%;
}

#panel-mycamera-details{
    display: none;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.panel-camera-settings {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 95%;
    height: 97%; 
    color: lightgray;
    border-radius: 5px;
}

.panel-camera-settings-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #22252E;
    color: lightgray;
    border-radius: 5px;
}

.panel-camera-settings button{
    background-color: lightgray;
    border:none;
    border-radius: 5px;
    color: black;
}

.panel-camera-settings button:hover{
    background-color: gray;
    color: white;
}

.panel-camera-settings-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    border-bottom: 1px white solid;
}
.panel-camera-settings-header h3{
    width: 50%;
    border-radius: 5px;
}
.panel-camera-settings-edit {
    display: flex;
    align-items: center;
}

.panel-camera-settings-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
}

.panel-camera-settings-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border-right: 1px gray solid;
}

.panel-camera-settings-subscription-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.panel-camera-settings-endpoint {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    padding: 1%;
}

#endpoint {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 100%; /* Calculate width with padding subtracted */
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
}

.panel-camera-settings-endpoint-link {
    overflow: auto;
    white-space: nowrap
}

div.panel-camera-settings-endpoint-link p {
    text-align: center;
    text-decoration: none;
}

.panel-camera-settings-sensitivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.panel-camera-settings-sensitivity p{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.panel-camera-settings-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1%;
}

.panel-camera-settings-overview-stats-body {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
}

div.panel-camera-settings-overview-stats-body div {
    margin-left: 5px;
    margin-right: 5px;
}

.panel-camera-settings-overview-stats {
    width: 55%;
}

.panel-camera-settings-overview-currentstatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-right: 1px gray solid;
}

.panel-camera-settings-overview-currentstatus h3{
    color: green;
}

.panel-camera-settings-overview-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.panel-camera-settings-overview-stats-body h4,
.panel-camera-settings-overview-stats-body p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.panel-camera-settings-logs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

#cameraLogs{
    border: 1px #C5D97E solid;
}

#cameraLogs-header{
    color: black;
    background-color: #C5D97E;
    border: 1px solid #C5D97E;
}

#cameraLogs-body {
    width: 100%;
    height: 50%;
    background-color: red;
    overflow-y: auto;
}

#cameraLogs .tbl-content {
    height: 25vh;
    max-height: 100px;
    overflow-y: auto;
    color: white;
}

#cameraLogs .tbl-content tr:hover{
    background-color: lightgrey;
    color:black
}

.panel-camera-settings-save{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.panel-camera-settings-save button{
    padding: 5%;
}

.panel-camera-settings-save button:hover{
    background-color: #C5D97E;
    color: black;
}

/*################# FOOTER #################*/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 85vw;
    height: 9.88vh;
    border-top: 1px black solid;
    color: gray;
    font-size: small;
}


.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 2%;
}

.footer-info-top {
    margin-bottom: 2%;
}


/*#################### SECURITY PAGE ####################*/

#security {
    justify-content: start;
}

.panel-security {
    height: 95%;
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
    justify-self: start;
    align-items: center;
    flex-direction: column;
}

.panel-security-information {
    display: flex;
    flex-direction: column;
    background-color: #22252E;
    width: 100%;
    height: 65%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.panel-security-information-label {
    height: fit-content;
    width: fit-content;
    margin-left: 1%;
    margin-top: 1%;
    color: #b7d93d;
}

.panel-security-information-form {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.panel-security-information-current-password {
    height: fit-content;
    color: #F2F2F2;
}

.panel-security-information-current-password p {
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
}

.panel-security-information-current-password input {
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
    width: 95%;
    height: 25px
}

.panel-security-information-new-password {
    height: fit-content;
    margin-top: 1%;
    color: #F2F2F2;
}

.panel-security-information-new-password p {
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
}

.panel-security-information-new-password input {
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
    width: 95%;
    height: 25px
}

.panel-security-information-confirm-password {
    margin-top: 1%;
    color: #F2F2F2;
}

.panel-security-information-confirm-password p {
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
    width: 90%;
    height: 25px
}

.panel-security-information-confirm-password input {
    width: fit-content;
    height: fit-content;
    margin-left: 1%;
    width: 95%;
    height: 25px
}

.panel-security-information-change {
    display: flex;
    justify-content: end;
    align-content: end;
    width: 95%;
    margin-top: 2%;
    margin-left: 1.5%;
}

.panel-security-information-change button {
    padding: 10px 5%;
    border: none;
    border-radius: 5px;
}

.panel-security-information-change button:hover {
    background-color: #b7d93d;
    cursor: pointer;
    color: white;
}

.panel-security-danger {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #22252E;
    height: 30%;
    border-radius: 10px;
}

.panel-security-danger-label {
    display: flex;
    align-self: start;
    height: fit-content;
    width: fit-content;
    margin-left: 1%;
    margin-top: 1%;
    color: #b7d93d;
}

.panel-security-danger-delete-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.panel-security-danger-delete-account-label {
    display: flex;
    margin-left: 1%;
    color: #F2F2F2;
}

.panel-security-danger-delete-account-option {
    display: flex;
    width: 100%;
}

.panel-security-danger-delete-account-text {
    display: flex;
    flex: 1;
    margin-left: 1%;
    align-items: center;
    color: #f2f2f2;
}

.panel-security-danger-delete-account-button {
    display: flex;
    flex: 1;
    margin-right: 4%;
    justify-content: end;
}

.panel-security-danger-delete-account-button button {
    padding: 10px 5%;
    border: none;
    border-radius: 5px;
}

.panel-security-danger-delete-account-button button:hover {
    background-color: #b33737;
    cursor: pointer;
    color: white;
}


/*#######################################################*/

/*################# AUTHENTICATION PAGE #################*/

.header-auth {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 12.85vh;
    border-bottom: 1px black solid;
    background-color: #22252E;
}

.header-auth-logo {
    width: 10%;
    text-align: center;
}

.header-auth-title {
    width: 90%;
    color: #ffffff;
}

.panel-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 77vh;
    background-color: #22252E;

    /*Animation*/
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    animation-delay: 0.1s
}

.panel-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-title-container {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 30%;
}

.panel-auth-container-register {
    width: 70%;
    height: 95%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

#form-login.panel-auth-container-register {
    width: 50%;
    height: 95%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.panel-auth-container-register-form {
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;

}

.panel-auth-container-register-form input,
select {
    width: 90%;
    height: 3vh;
    margin-top: 1%;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
}

.panel-auth-container-register-form select {
    width: 92.5%;
}

#input-terms {
    width: 15px;
}

.panel-auth-container-register-form-base-info {
    height: 70%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%
}


.panel-auth-container-register-form-base-info-name {
    display: flex;
}

.panel-auth-container-register-form-base-info-name input {
    width: 80%;
}

.panel-auth-container-register-form-base-info-email {
    display: flex;
    flex-direction: column;
}

.panel-auth-container-register-form-base-info-password {
    display: flex;
    flex-direction: column;
}

.panel-auth-container-register-form-base-info-confirm-password {
    display: flex;
    flex-direction: column;
}

.panel-auth-container-register-form-division {
    height: 70%;
    border: 1px solid black;
    margin-top: 5%
}

.panel-auth-container-register-form-contact-info {
    height: 70%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%
}

.panel-auth-container-register-form-contact-info-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.panel-auth-container-register-form-contact-info-info-phone {
    display: flex;
    flex-direction: column;
}

.panel-auth-container-register-form-contact-info-info-region {
    display: flex;
    flex-direction: column
}

.panel-auth-container-register-form-contact-info-terms {
    display: flex;
}

.panel-auth-container-register-form-contact-info-terms p {
    font-size: small;
    margin-right: 2%;
}


.panel-auth-container-register-submit {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
}

.panel-auth-container-register-submit button {
    width: 60%;
    height: 100%;
    font-size: larger;
    background-color: #b7d93d;
    border: 0px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.panel-auth-container-register-submit button:hover {
    background-color: grey;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Aumenta a sombra ao passar o mouse */
    transform: translateY(-2px);
    /* Move o botão ligeiramente para cima */
    cursor: pointer;
}

.panel-auth-container-register-altlogin {
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-auth {
    display: flex;
    justify-content: center;
    background-color: #22252E;
    width: 100vw;
    height: 9.88vh;
    border-top: 1px black solid;
    color: gray;
    font-size: small;
}

/*#######################################################*/

/*################# END AUTHENTICATION PAGE #################*/
/*#######################################################*/

/*#######################################################*/
/*      General Account Settings CSS     */


.panel-general-account {
    background-color: #22252E;
    width: 95%;
    height: 97%;
    border-radius: 10px;
}

.panel-general-account-title {
    width: 30w;
    margin-left: 3%;
    margin-top: 4%;
    color: #b7d93d;
}

.panel-general-account-inputs {
    width: 81%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    padding-left: 7%;
}

.panel-general-account-inputs input[type="text"] {
    width: 95%;
    padding: 1%;
    padding-bottom: 0%;
}

.panel-general-account-inputs-names input[type="text"] {
    width: 30vw;
    height: 50%;
    padding: 1%;
}

.panel-general-account-inputs-names {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #F2F2F2;
}

.panel-general-account-email {
    color: #F2F2F2;
}

.panel-general-account-country {
    width: 97%;
    color: #F2F2F2;
}

.panel-general-account-country select {
    width: 100%;
    height: 67%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 0px;
    background-color: #fff;
}

.panel-general-account-reference-code {
    color: #F2F2F2;
}



.panel-general-account-upload-logo {
    margin-bottom: 20px;
    color: #F2F2F2;
}


.panel-general-account-button {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 9%;
}

.panel-general-account-button button {
    width: 15vw;
    height: 50%;
    margin-right: 11vw;
    min-width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.panel-general-account-button button:hover {
    background-color: #b7d93d;
    cursor: pointer;
    color: white;
}


/*    Alert Contacts CSS    */

#contacts {
    flex-direction: column;
}

.panel-add-contacts {
    background-color: #22252E;
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    justify-content: space-evenly;
    border-radius: 10px;
}

.panel-add-contacts-title {
    width: 90%;
    padding-left: 2%;
    color: #b7d93d;
}

.panel-add-contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-left: 2%;
}

.panel-add-contacts-addbox {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.panel-add-contacts-addbox label {
    margin-bottom: 5px;
    font-size: 19px;
}

#add-contact {
    width: 90%;
    height: 15%;
    padding: 10px;
}

.panel-add-contacts-addbutton {
    padding-top: 3.2vh;
}

.panel-add-contacts-addbutton button {
    min-width: fit-content;
    width: 200px;
    padding: 10px 5%;
    border: none;
    border-radius: 5px;
}

.panel-add-contacts-addbutton button:hover {
    background-color: #b7d93d;
    cursor: pointer;
    color: white;
}


.panel-show-contacts {
    background-color: #22252E;
    height: 60%;
    width: 90%;
    border-radius: 10px;
}

.panel-show-contacts-title {
    color: #b7d93d;
}

.panel-account-search {
    border-radius: 5px;
}

.panel-show-contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-left: 2%;
    padding-top: 1.5%;
}

.panel-show-contacts-searchbar {
    padding-top: 1%;
}

.panel-show-contacts-table {
    margin: 2%;
}

/* Margin for the show contacts remove buttons */
.margin-right {
    margin-left: 50%;
    display: block;
}

@media only screen and (max-width: 968px) {

    /*################# SIDEBAR #################*/

    .logo-nav-hamburguer {
        display: none;
    }

    .menu-options-home-label {
        display: none;
    }


    .menu-options-home-dashboard-text {
        display: none;
    }

    .menu-options-home-dashboard:hover {
        background-color: gray;
        color: white;
    }

    .menu-options-home-camera-text {
        display: none;
    }

    .menu-options-home-upload-text {
        display: none;
    }


    .menu-options-settings-label {
        display: none;
    }

    .menu-options-settings-general-text {
        display: none;
    }

    .menu-options-settings-general:hover {
        background-color: gray;
        color: white;
    }

    .menu-options-settings-security-text {
        display: none;
    }

    .menu-options-settings-security:hover {
        background-color: gray;
        color: white;
    }

    .menu-options-settings-alert-text {
        display: none;
    }


    .menu-options-settings-alert:hover {
        background-color: gray;
        color: white;
    }

    /*HEADER*/
    .header-greeting {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 60%;
        margin-left: 5%;
    }

    .header-greeting-top {
        display: flex;
        align-items: center;
        font-size: 1.5vw;
        /* background-color: #f2f2f2;*/
    }

    .header-greeting-bottom {

        font-size: 1.5vw;
        align-items: center;
        /* background-color: #f2f2f2; */
    }

    .header-options-leave {
        font-size: 1.5vw;
    }

    .header-options-language {
        display: flex;
        justify-content: center;
        size: 10px;
    }

    .header-options-notifications {
        display: flex;
        justify-content: center;
        size: 10px;
    }

    #notification-panel {
        width: 40%;
        left: 55%;
    }

    /*PANEL - DASHBOARD*/

    .panel-camera {
        display: none;
    }

    .panel-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 2vw;
    }

    th {
        font-size: 1.5vw;
    }

    td {
        font-size: 1.5vw;
    }

    /*FOOTER*/
    .footer-info {
        font-size: 0.6rem;
    }


    /*PANEL - MY CAMERAS*/
    .panel-camera-container-top-search {
        margin: 2%;
    }

    .panel-camera-search {
        width: 15vw;
        height: 10vh;
    }

    .panel-account-search {
        width: 15vw;
    }

    /*FRAME*/
    .panel-upload-processed-frame img {
        max-width: 100%;
        width: 95%;
    }

}