body {
    margin: 0;
}

.container {
    display: flex;
}

.main {
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.side-nav {
    background-color: black;
    width: 20vw;
    height: 100vh;
}

.logo-nav {
    background-color: yellow;
    width: 20vw;
    height: 19.85vh;
    border-bottom: 1px black solid;
}

.menu-options {
    background-color: wheat;
    width: 20vw;
    height: 70vh;
}

.social-network {
    background-color: green;
    width: 20vw;
    height: 9.88vh;
    border-top: 1px black solid;
}

.main-body {
    background-color: aqua;
    width: 80vw;
    height: 100vh;
}

.header {
    background-color: orange;
    width: 80vw;
    height: 19.85vh;
    border-bottom: 1px black solid;
}

.panel {
    background-color: white;
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: chocolate;
    width: 80vw;
    height: 9.88vh;
    border-top: 1px black solid;
}

/* Cameras styles */

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f2f2f2;
    margin-left: 5px;
    margin-right: 5px;
}


th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.new-camera-btn {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border: 1px solid black;
}

.camera-settings {
    position: relative; /* Ensure proper positioning */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 48%; /* Adjust width as needed */
    background-color: lightgray; /* Example background color */
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.settings-label {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    font-weight: bold;
}

.settings-instructions {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
    text-align: center; /* Align text in the center */
}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}