/*
Colors for wireframe:

#CDCDCD -> For components
#D9D9D9 -> Dark Grey
#EAEAEA -> Light Grey
#102026 -> Blue Black
*/

/*################# MAIN #################*/

@font-face {
    font-family: 'ROBOTO-SERIF';
    src: url('../Fonts/RobotoSerif/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
    src: url('../Fonts/RobotoSerif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
}

* {
    margin: 0;
    font-family: "ROBOTO-SERIF";
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-body {
    background-color: #EAEAEA;
    width: 85vw;
    height: 100vh;
    transition: width 0.3s ease;
}

/*################# SIDEBAR #################*/
.side-nav {
    background-color: #D9D9D9;
    height: 100vh;
    width: 15vw;
    transition: width 0.3s ease;
}

.logo-nav {
    display: flex;
    width: 15vw;
    height: 12.85vh;
    border-bottom: 1px #102026 solid;
}

.logo-nav-logo {
    display: flex;
    width: 70vw;
    justify-content: center;
    height: 12.85vh;
}

.menu-options-home-dashboard-icon-img {
    display: flex;
    flex-shrink: 0;
    align-self: center;
    cursor: pointer;
    width: 50%;
}

.logo-nav-hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 12.85vh;
}

#logo-nav-hamburger-btn {
    border-radius: 5px;
    cursor: pointer;
    border: 20px;
    width: 40%;
    transition: width 0.3s ease;
}

.menu-options {
    width: 15vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-options img {
    width: 40%;
}

.menu-options-home {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    color: #102026;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
}

.menu-options-home-label {
    display: flex;
    align-items: center;
    height: 35px;
    width: 60%;
    margin-left: 10%;
    border-bottom: 2px #102026 solid;
}

.menu-options-home-dashboard {
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-home-dashboard-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-home-dashboard-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-home-dashboard:hover {
    background-color: #b7d93d;
    color: white;
}

.menu-options-home-camera {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 25%;
}

.menu-options-home-camera-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-home-camera-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-home-camera:hover {
    background-color: #b7d93d;
    color: white;
}

.menu-options-settings {
    color: #102026;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

.menu-options-settings-label {
    display: flex;
    align-items: center;
    height: 35px;
    width: 60%;
    margin-left: 10%;
    border-bottom: 2px #102026 solid;
}

.menu-options-settings-general {
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-settings-general-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-general-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-settings-general:hover {
    background-color: #b7d93d;
    color: white;
}

.menu-options-settings-security {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-settings-security-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-security-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-settings-security:hover {
    background-color: #b7d93d;
    color: white;
}

.menu-options-settings-alert {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-settings-alert-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-alert-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}


.menu-options-settings-alert:hover {
    background-color: #b7d93d;
    color: white;
}

/*################# SOCIAL NETWORK #################*/
.social-network {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
    height: 9.88vh;
    border-top: 1px #102026 solid;
}

.social-network img {
    width: 60%;
}

.social-network div {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network div:hover {
    background-color: #b7d93d;
}


/*################# HEADER #################*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    width: 85vw;
    height: 12.85vh;
    border-bottom: 1px black solid;
}

.header img {
    width: 50%;
}

.header-greeting {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 5%;
}

.header-greeting h1 {
    font-weight: 500;
    /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}

.header-greeting-top {
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    /* background-color: #f2f2f2;*/
}

.header-greeting-bottom {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    margin-left: 1%;
    /* background-color: #f2f2f2; */
}

.header-options {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 50%;
    margin-right: 3%;
}

.header-options-addcamera {
    margin-right: 5%;
}


.header-options-addcamera button {
    height: 50%;

}

.header-options-language {
    display: flex;
    justify-content: center;
}

.header-options-notifications {
    display: flex;
    justify-content: center;
}

.header-options-leave {
    display: flex;
    justify-content: center;
}

.header-options-leave img {
    width: 35%;
    margin-left: 3%;
}

.header-options div {
    display: flex;
    align-items: center;
    cursor: pointer;
}


/*################# PANEL #################*/

.panel {
    display: flex;
    width: 85vw;
    height: 77vh;
}

.panel-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.panel-information-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.panel-information-statistics h1 {
    font-weight: 500;
    /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}

.panel-information-statistics-status {
    display: flex;
    height: 50%;
    width: 100%;
}

.panel-information-statistics-status-online {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.panel-information-statistics-status-online-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    background-color: #CDCDCD;
}

.panel-information-statistics-status-online-container-number {
    height: 30%;
    margin-left: 5%;
}

.panel-information-statistics-status-online-container-label {
    margin-left: 5%;

}

.panel-information-statistics-status-online-container-cameras {
    display: flex;
    width: 80%;
    margin-left: 5%;

}

.panel-information-statistics-status-online-container-cameras button {
    border: 1px black solid;
    background-color: #CDCDCD;
    width: 100%;
}

.panel-information-statistics-status-online-container-cameras button:hover {
    background-color: lightgray;
}

.panel-information-statistics-status-offline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.panel-information-statistics-status-offline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    background-color: #CDCDCD;
}

.panel-information-statistics-status-offline-container-label {
    margin-left: 5%;

}

.panel-information-statistics-status-offline-container-number {
    height: 30%;
    margin-left: 5%;
}

.panel-information-statistics-status-offline-container-cameras {
    display: flex;
    width: 80%;
    margin-left: 5%;
}

.panel-information-statistics-status-offline-container-cameras button {
    border: 1px black solid;
    background-color: #CDCDCD;
    width: 100%;
}

.panel-information-statistics-status-offline-container-cameras button:hover {
    background-color: lightgray;
}

.panel-information-statistics-smoke {
    background-color: #CDCDCD;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
}

.panel-information-statistics-smoke-title {
    font-size: small;
    margin: 1%;
    color: gray;
}

.panel-information-statistics-smoke-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.panel-information-statistics-smoke-24-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.panel-information-statistics-smoke-24-hours-number {
    display: flex;
    margin-left: 8%;
    width: 95%;
    height: 55%;
}

.panel-information-statistics-smoke-24-hours-label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-left: 8%;

}

.panel-information-statistics-smoke-7-days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.panel-information-statistics-smoke-7-days-number {
    display: flex;
    margin-left: 8%;
    width: 95%;
    height: 55%;
}

.panel-information-statistics-smoke-7-days-label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-left: 8%;
}

.panel-information-statistics-smoke-30-days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.panel-information-statistics-smoke-30-days-number {
    display: flex;
    margin-left: 8%;
    width: 95%;
    height: 55%;
}

.panel-information-statistics-smoke-30-days-label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-left: 8%;
}

.panel-information-detections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    background-color: #CDCDCD;
    margin-top: 2%;
    margin-bottom: 2%;

}

.panel-information-detections-title {
    color: gray;
    margin: 1%;
    width: 98%;
    font-size: small;
}

.panel-information-detections-table {
    display: flex;
    height: 95%;
    width: 95%;
    justify-content: start;   
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
}

.camera-table {
    width: 100%;
    border: solid 1px gray;
    border-collapse: collapse;
    border-spacing: 0;  
}
.camera-table thead th {
    border: solid 1px gray;
    color: black;
    padding: 10px;
    text-align: left;
}
.camera-table tbody td {
    border: solid 1px gray;
    color: #333;
    padding: 10px;
}

.panel-camera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.panel-camera-container {
    border-radius: 5px;
    width: 95%;
    height: 97%;
    background-color: #CDCDCD;
}

/*################# FOOTER #################*/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    width: 85vw;
    height: 9.88vh;
    border-top: 1px black solid;
    color: gray;
    font-size: small;
}


.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 2%;
}

.footer-info-top {
    margin-bottom: 2%;
}


.footer-update {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.footer-update div {
    display: flex;
    flex-direction: row;
    align-items: center;
}