/*################# MAIN #################*/

@font-face {
    font-family: 'ROBOTO-SERIF';
    src: url('../Fonts/RobotoSerif/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
    src: url('../Fonts/RobotoSerif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
   }

*{
    margin: 0;
    font-family: "ROBOTO-SERIF";
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-body{
    width: 80vw;
    height: 100vh;
    transition: width 0.3s ease;
}

/*################# SIDEBAR #################*/
.side-nav{
    background-color: black;
    height: 100vh;
    width: 20vw;
    transition: width 0.3s ease;
}

.logo-nav{
    display: flex;
    width: 20vw;
    height: 19.85vh;
    border-bottom: 1px #f2f2f2 solid;
}

.logo-nav-logo{
    display: flex;
    width: 70vw;
    justify-content:center;
    height: 19.85vh;
}

.menu-options-home-dashboard-icon-img{
    display: flex;
    flex-shrink: 0;
    align-self: center;
    cursor: pointer;
    width: 50%;
}

.menu-options-home-dashboard-icon-img:hover {
    border-radius: 10px;
    background-color:#f2f2f2;
}

.logo-nav-hamburguer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 19.85vh;
}

#logo-nav-hamburger-btn{
    border-radius: 5px;
    cursor: pointer;
    border: 20px;
    width: 40%;
    transition: width 0.3s ease;
}

#logo-nav-hamburger-btn:hover{
    background-color: lightgray;
}

.menu-options{
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-options img{
    width: 40%;
}

.menu-options-home{
    width: 100%;
    height: 30%;
    margin-top: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
}

.menu-options-home-label{
    display: flex;
    align-items: center;
    height: 35px;
    width: 60%;
    margin-left: 10%;
    border-bottom: 2px white solid;
}

.menu-options-home-dashboard{
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 25%;
}

 .menu-options-home-dashboard-icon{
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
} 

.menu-options-home-dashboard-text{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-home-dashboard:hover{
    background-color: #b7d93d;
    color: black;
}

.menu-options-home-camera{
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 25%;
}

.menu-options-home-camera-icon{
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-home-camera-text{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-home-camera:hover{
    background-color: #b7d93d;
    color: black;
}

.menu-options-settings{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

.menu-options-settings-label{
    display: flex;
    align-items: center;
    height: 35px;
    width: 60%;
    margin-left: 10%;
    border-bottom: 2px white solid;
}

.menu-options-settings-general{
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-settings-general-icon{
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-general-text{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-settings-general:hover{
    background-color: #b7d93d;
    color: black;
}

.menu-options-settings-security{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-settings-security-icon{
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-security-text{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.menu-options-settings-security:hover{
    background-color: #b7d93d;
    color: black;
}

.menu-options-settings-alert{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 25%;
}

.menu-options-settings-alert-icon{
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin-left: 3%;
}

.menu-options-settings-alert-text{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}


.menu-options-settings-alert:hover{
    background-color: #b7d93d;
    color: black;
}

/*################# SOCIAL NETWORK #################*/
.social-network{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 9.88vh;
    border-top: 1px #f2f2f2 solid;
}

.social-network img{
    width: 40%;
}

.social-network div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network div:hover{
background-color: #b7d93d;
}


/*################# HEADER #################*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2; 
    width: 80vw;
    height: 19.85vh;
    border-bottom: 1px black solid;
}

.header img{
    width: 50%;
}

.header-greeting{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 5%;
}

.header-greeting h1{
    font-weight: 500; /*Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold*/
}

.header-greeting-top{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    /* background-color: #f2f2f2;*/
}

.header-greeting-bottom{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    margin-left: 1%;
    /* background-color: #f2f2f2; */
}

.header-options{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 50%;
    margin-right: 3%;
}

.header-options-addcamera{
    margin-right: 5%;
}


.header-options-addcamera button{
    height: 50%;

}

.header-options-language{
    display: flex;
    justify-content: center;
}

.header-options-notifications{
    display: flex;
    justify-content: center;
}

.header-options-leave{
    display: flex;
    justify-content: center;
}
.header-options-leave img{
    width: 35%;
    margin-left: 3%;
}

.header-options div{
    display: flex;
    align-items: center;
    cursor: pointer;
}


/*################# PANEL #################*/

.panel{   
    display: flex; 
    width: 80vw;
    height: 70vh;
}

.panel-information{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.panel-information-statistics{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.panel-information-statistics-status{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
}

 .panel-information-statistics-status-online{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
} 

.panel-information-statistics-status-online-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    background-color: #b7d93d;
}

.panel-information-statistics-status-online-container-number{
    display: flex;
    align-self: center;
    height: 30%;
}

.panel-information-statistics-status-online-container-label{
    display: flex;
}

.panel-information-statistics-status-online-container-cameras{
    display: flex;
    justify-content: center;
    width: 95%;
}

.panel-information-statistics-status-online-container-cameras button{
    background: none;
    border-radius: 5px;
    border: 1px black solid;
     background-color: #f2f2f2; 
    width: 100%;
}

.panel-information-statistics-status-online-container-cameras button:hover{
    background-color: lightgray;
}

.panel-information-statistics-status-offline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.panel-information-statistics-status-offline-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    background-color: #b7d93d;
}

.panel-information-statistics-status-offline-container-number{
    display: flex;
    align-self: center;
    height: 30%;
}

.panel-information-statistics-status-offline-container-cameras{
    display: flex;
    justify-content: center;
    width: 95%;
}

.panel-information-statistics-status-offline-container-cameras button{
    background: none;
    border-radius: 5px;
    border: 1px black solid;
     background-color: #f2f2f2; 
    width: 100%;
}

.panel-information-statistics-status-offline-container-cameras button:hover{
background-color: lightgray;
}

.panel-information-statistics-smoke{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.panel-information-statistics-smoke-container{
    display: flex;
    width: 95%;
    height: 90%;
    border-radius: 10px;
    background-color: lightgray;
}

.panel-information-statistics-smoke-24-hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.panel-information-statistics-smoke-24-hours-number{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 55%;
}

.panel-information-statistics-smoke-24-hours-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.panel-information-statistics-smoke-7-days{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.panel-information-statistics-smoke-7-days-number{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 55%;
}

.panel-information-statistics-smoke-7-days-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.panel-information-statistics-smoke-30-days{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.panel-information-statistics-smoke-30-days-number{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 55%;
}

.panel-information-statistics-smoke-30-days-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.panel-information-detections{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.panel-information-detections-table {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 98%;
    border: 1px black solid;
    border-radius: 5px;
    size-adjust: none;
  }
  
  .panel-information-detections-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .panel-information-detections-table th {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-spacing: 0px;
    padding: 2vh;
    flex-grow: 1;
    width: fit-content;

    width: 100%;
    background-color: lightgray;
  }

  
  .panel-information-detections-table-header {
    display: flex;
  }

  .panel-information-detections-table-content {
    display: flex;
    width: 100%;
  }

  .panel-information-detections-table-content td{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-spacing: 0px;
    padding: 0.5%;
    flex-grow: 1;
    width: 25%;
  }
  
.panel-camera{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.panel-camera-container{
    border-radius: 5px;
    width: 95%;
    height: 97%;
    background-color: #b7d93d;
}

/*################# FOOTER #################*/

.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f2f2f2; 
    width: 80vw;
    height: 9.88vh;
    border-top: 1px black solid;
}


.footer-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 20px;
}

.footer-info div{
    display: flex;
    align-items: center;
    height: 50%;
}

.footer-update{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.footer-update div{
    display: flex;
    flex-direction: row;
    align-items: center;
}